body{
    background: url("https://bogatyr.club/uploads/posts/2021-11/thumbs/1636951510_2-bogatyr-club-p-zadnii-fon-chernii-2.jpg");
}

footer {
  display: block;
    text-align: center;
  padding: 3px;
  background-color: darkgray;
  color: dimgrey;
}

hr {
    border: dimgrey;
    color: black;
    background-color: dimgrey;
    height: 10px;
   }