{% include 'header.html' %}
<center>
    <br>
    <hr>
    <img src="{{object.image.url}}" alt="" width="400" height="300">
    <iframe src="{{object.video}}" frameborder="0" width="800" height="640"></iframe>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{object.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{object.quantity}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">{{object.price}} сом</h6>
    <p class="card-text">{{object.description}}</p>
    <p class="card-link">{{objecct.description}}</p>
    <p href="#" class="card-link">{{object.genre}}</p>
      <button><a href="/books/{{object.id}}/update">Изменить данные</a></button>
      <button><a href="/books/{{object.id}}/delete">Удалить книгу</a></button>
  </div>
</div>
    <br>
    <hr>
<div class="p-3 mb-2 bg-info  text-white" style="width: 27rem;">
    <table border="2">
        <tr>
            <td>Рейтинг:</td> <td>Оценка:</td> <td>&nbsp;&nbsp;&nbsp;Комментарий:</td>
        </tr>
        {% for j in object.comment_object.all %}
        <tr>
            <td>&nbsp;&nbsp;&nbsp; {{j.rate}}</td> <td>&nbsp;&nbsp;{{j.comment}}</td>
        </tr>
        {% endfor %}

    </table>
</div>
</center>

{% include 'footer.html' %}
