<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
<div>
    <ul>
        {% for i in book %}

        <li>
            <h1>Название книги: {{i.title}}</h1>
            <p>Жанр: {{i.genre}}</p>
            <p>Описание: {{i.descriptions}}</p>
            <img src="{{i.image.url}}" alt="" width="200" height="200">
            <button><a href="/book/{{i.id}}">Подробнее</a></button>
        </li>

        {% endfor %}
    </ul>
</div>
</body>
</html>